<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Fraud Detection System</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>dashboard</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.frauddetection.AppInitializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.frauddetection.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.frauddetection.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/logins</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.frauddetection.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>com.frauddetection.servlet.TransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/transactions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AlertServlet</servlet-name>
        <servlet-class>com.frauddetection.servlet.AlertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlertServlet</servlet-name>
        <url-pattern>/alerts</url-pattern>
    </servlet-mapping>

</web-app>
